/* Global Styling here */
/* .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  opacity: 1 !important;
  background: rgba(109, 109, 109, 0.8) !important;
}

.swiper-pagination-bullet-active {
  background: #d3004a !important;
  transition: 0.5s !important;
} */

/* li.alice-carousel__stage-item :not(.__cloned) {
  width: auto !important;
  margin-right: 20px;
} */

.alice-carousel__dots {
  margin-top: 5px !important;
  /* position: absolute; */
  /* margin-left: auto; */
  /* left: 50%;
  transform: translate(-50%, -50%); */
}
